{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div>
    <h1>About me</h1>
    <p>Hi, I'm a software engineer who loves to code and build web applications. </p>
    <h1>I'm passionate about learning new technologies and sharing my knowledge with others. I enjoy working on projects that challenge me and help me grow as a developer. </h1>
    <h2> In my free time, I like to read, travel, and spend time with my family and friends. </h2>
</div>

{% endblock %}