{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-light text-dark">
                <div class="card-header">Add New Task</div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="name_task">What task do you want to add?</label>
                            <input type="text" class="form-control" name="task" id="name_task" placeholder="Enter task">
                        </div>
                        <button type="submit" class="btn btn-success">Add Task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}